%h1 Please select a file to process
= form_for @data, :url => sales_data_path, :html => { :multipart => true } do |f|
  .form-group
    = f.file_field :file
  .form-group
    %button.btn.btn-primary.btn-lg{type: "submit"} Process File
