!!!
%html{:lang => "en"}
  %head
    %title DataEngineering
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          = yield
